{% extends 'dashboard.html' %} {% load static %} {% block title %}
<title>Admin | Dashboard</title>
{% endblock title %} {% block content %}
<div class="dashboard-content-one">
    <div class="breadcrumbs-area">
        <h3>Admin Dashboard</h3>
        <ul>
            <li>
                <a href="/admin_dashboard/">Home</a>
            </li>
            <li>Admin</li>
        </ul>
    </div>
    <!--///////////card start///////////////-->
    <div class="row gutters-20">
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-green ">
                            <i class="flaticon-classmates text-green"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Students</div>
                            <div class="item-number"><span class="counter" data-num={{uc}}>{{uc}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-blue">
                            <i class="flaticon-multiple-users-silhouette text-blue"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Teachers</div>
                            <div class="item-number"><span class="counter" data-num="{{tc}}">{{tc}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="dashboard-summery-one mg-b-20">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="item-icon bg-light-red">
                            <i class="flaticon-money text-red"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Earnings</div>
                            <div class="item-number"><span>&#8377</span><span class="counter" data-num="100000">1,00,000</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--///////////////////card end///////////////////-->
    <!--///////////table start/////////////-->
    <div class="col-lg-12 col-8-xxxl col-xl-12">
        <div class="card dashboard-card-six">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Posts</h3>
                    </div>
                </div>
                <div class="notice-box-wrap">
                    {% for blog in blogs %}
                    <div class="notice-list">
                        <div class="post-date bg-skyblue">{{blog.created_at}}</div>
                        <h6 class="notice-title">{{blog.title}}</h6>
                        <p class="ml-5">{{blog.message}}</p>
                        {% if blog.image %}
                        <div>
                            {% if blog.image %}
                            <img src="{{blog.image.url}}" alt="Not Found 😭" srcset="" style="height:200px;width: 300px; border-radius: 10px;"> {% endif %}
                        </div>
                        {% endif %}
                        <div class="entry-meta text-warning">Posted By {{blog.post_user}} / Updated On <span class="text-dark font-weight-bold">{{blog.updated_at}}</span></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/////////////table end////////////////-->

    {% endblock content %}