{% extends 'baselogin.html' %}{% load static %} {% block title %}
<title>Dashboard | Sign Up</title>
{% endblock title %} {% block content %}
<!--/////////////Login Page Start///////////////-->
<div class="login-page-wrap" style="background-image: url('/static/AdminApp/img/figure/login-bg.jpg');">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <a href="/" style="text-decoration: none;"><img src="{% static 'AdminApp/img/favicon.png' %}" alt="logo"><b>E-LEARNING</b></a>
            </div>
            {% if messages %} {% for message in messages %}
            <div class="bg-{{message.tags}} text-center"><span {% if message.tags %} class="text-dark" {% endif %}>{{message}}</span>
            </div>{% endfor %} {% endif %}
            <br>
            <form class="form-group" method="POST" id="signupform">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter First Name" name="first_name" class="form-control" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                    <div class="col-lg-4">
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter Last Name" name="last_name" class="form-control" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                    <div class="col-lg-4">
                        <label>Contact No.</label>
                        <input type="text" placeholder="Enter number" class="form-control" name="contact" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                </div>
                <div class="row signuptp">
                    <div class="col-lg-6">
                        <label>Date of Birth</label>
                        <input type="date" placeholder="Enter dob" class="form-control" name="dob" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                    <div class="col-lg-6">
                        <label>E-Mail</label>
                        <input type="email" placeholder="Enter email" class="form-control" name="email" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                </div>
                <div class="row signuptp">
                    <div class="col-lg-6">
                        <label>Password</label>
                        <input type="password" placeholder="Enter password " class="form-control" name="password" id="pw" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                    <div class="col-lg-6">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm password " class="form-control" name="password2" style="border:1px solid rgb(11, 236, 30);">
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between signuptp">
                    <div class="form-check">
                        <a href="/login/" class="text-primary font-weight-bold signupbtn2">Already Have an Account</a>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                    <button type="submit" class="btn btn-success btn-lg btn-block" style="height: 50px; font-size: 20px;">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--///////////Login Page End////////////////-->
{% endblock content %}